html, body {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

#primary {width: 100%;}



/* Removing the "speaking and live events" header */
header.page-header {
	display: none;
}

header#site-header.clr.header-one {
  padding-bottom: 2%;
  background-color: #f9f9f9;
}


#top-endorsement {
	color: gray; 
	font-family: Garamond;
}

#AATH-contain{
  width: 100%;
  margin-bottom: 50rem;
}

#AATH{margin-top: -4%;}
#AATH p {font-style: italic; font-size: 17px;}


.top {
	color: white;
	text-decoration: none !important;
	font-family: arial;
	padding: 15px 24px; 
	line-height: 16px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	opacity: 1;
	display: table;
	margin: 0 auto;
	margin-top: 10%;
	background-color: rgba(255, 255, 255, .1);
	border-color: #fff; max-width: 260px; font-size: 40px;
}

/*****Footer*****/

#footer-bottom {
	min-height: 20px !important;
}

#footer-bottom > .container {
	padding-top: 5px; padding-bottom: 5px;
}

#copyright{font-size: 13px !important;}

.popup {
    position:absolute;
    z-index:2;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    opacity:0;
    visibility:hidden;
    transition:.3s ease;
}

.show-popup .popup {
    opacity:1;
    visibility: visible;    
}

.popup > iframe {
    position:absolute;
    top:50px;
    left:50%;
    margin-left:-280px;
}


.slick-slide {
  padding-right: 2rem;
}

h1 {
  text-align: center;
  font-size: 36px !important;
  margin-bottom: 4%;
}
/*******/

#container:before {
  float: left; width: 100%; background-color: #000; opacity: 0.3; position: absolute; height: 89%; content: "";
}

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}
.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}

/** videoModal **/
#videoModal {
  border-radius: 0;
  width: 870px;
  margin:auto;}
  #videoModal .modal-header {
    background: #000;
    border: 0;
    color: #fff;
    position: relative;
		  height:35px; }
    #videoModal .modal-header h3 {
      font-size: 18px;
      line-height: 22px;
	  padding:5px;
      color: white;
	}
  #videoModal .modal-body {
    height: 489px;
    padding: 0;
    max-height: none;
    overflow: hidden; }
  #videoModal .modal-footer:empty {
    display: none !important; }
  #videoModal .close {
    background: black;
    color: #fff;
    font-size: 24px;
    margin: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    text-shadow: none;
    top: 0;
    width: 38px; }